script(type='text/javascript', src='/lib/jquery/jquery.js')

//Bootstrap
script(type='text/javascript', src='/lib/bootstrap/js/bootstrap.js')

//AngularJS
script(type='text/javascript', src='/lib/angular/angular.js')
script(type='text/javascript', src='/lib/angular-cookies/angular-cookies.js')
script(type='text/javascript', src='/lib/angular-resource/angular-resource.js')

//Angular UI

script(type='text/javascript', src='lib/angular-ui-utils/modules/route.js')
script(type='text/javascript', src='lib/angular-bootstrap/ui-bootstrap.js')
script(type='text/javascript', src='lib/angular-bootstrap/ui-bootstrap-tpls.js')



//Application Init

script(type='text/javascript', src='js/app.js')
script(type='text/javascript', src='js/config.js')
script(type='text/javascript', src='js/directives.js')
script(type='text/javascript', src='js/directives/animatedView.js')

script(type='text/javascript', src='js/filters.js')

//Application Services
script(type='text/javascript', src='js/services/global.js')
script(type='text/javascript', src='js/services/projectsService.js')
script(type='text/javascript', src='js/services/materialsService.js')
script(type='text/javascript', src='js/services/activitiesService.js')
script(type='text/javascript', src='js/services/quotesService.js')
    
//Application Controllers


script(type='text/javascript', src='js/controllers/activityController.js')
script(type='text/javascript', src='js/controllers/header.js')	
script(type='text/javascript', src='js/controllers/index.js')
script(type='text/javascript', src='js/init.js')
script(type='text/javascript', src='js/controllers/projectController.js')
script(type='text/javascript', src='js/controllers/projectmodalController.js')
script(type='text/javascript', src='js/controllers/quoteController.js')
script(type='text/javascript', src='js/controllers/quotemodalController.js')
script(type='text/javascript', src='js/controllers/usermodalController.js')

html
  body
    
      
