<div data-ng-controller="HeaderController">
	<div class = "container">	
		<div data-ng-show="global.user">
		 <a class="brand" style="font-family:Nevis; font-size:3vw;" href="/">CUANTO 		</a>
		</div>
		
		<ul class="nav">
		<div class="btn-toobar">
		
			<!-- <div class="btn-group"> -->
					<li class="btn btn-med dropdown" data-ng-show="global.user">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">Find a price <b class="caret"></b></a>
							<ul class="dropdown-menu">
								<li data-ng-repeat="item in priceMenu" data-ng-show="global.user" ui-route="/{{item.link}}" ng-class="{active: $uiRoute}">
									<a href="#!/{{item.link}}">{{item.title}}</a>
								</li>
								<li>
								<div data-ng-controller="quotemodalController">
								<a href="#!/" data-ng-click="getquote()">Get custom quote</a>
								</div>
							</ul>
					</li>
			<!-- </div> -->
			<!-- <div class="btn-group"> -->
					<li class="btn btn-med dropdown" data-ng-show="global.user">
					 <a href="#" class="dropdown-toggle" data-toggle="dropdown">My Projects <b class="caret"></b></a>
							<ul class="dropdown-menu">
								<li data-ng-repeat="item in projectMenu" data-ng-show="global.user" ui-route="/{{item.link}}" ng-class="{active: $uiRoute}">
									<a href="#!/{{item.link}}">{{item.title}}</a>
								</li>
							</ul>
				 	</li> 
			<!-- </div> -->
			<!-- <div class="btn-group"> -->
				<li class="btn btn-med dropdown" data-ng-show="global.user">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">Craft Trends <b class="caret"></b></a>
							<ul class="dropdown-menu">
								<li data-ng-repeat="item in popular" data-ng-show="global.user" ui-route="/{{item.link}}">
								<a href="#!/{{item.link}}">{{item.title}}</a>
								</li>
							</ul>
				
				</li>
			
				<li class="btn btn-med" data-ng-show="global.user">
					<a href="#/cuantomethod">How it works</a></li>
					
	
			<!-- </div> -->
			</div>	 
		
    </ul>
	
    <ul class="nav pull-right" data-ng-hide="global.authenticated">	
			
			<div data-ng-controller="usermodalController">
				<div class="btn-toobar">			
					<div class="btn-group">	
			
						<button title = "Sign-up" class="btn btn-info btn-small" data-ng-click="signup()"><i class="icon-white icon-off"></i>
						Sign-up
						<!-- <span class="caret"></span> -->
						</button>
					</div>
			
			<!-- 	<li class="divider-vertical"></li> -->
						<div class="btn-group">	
							<button title = "Sign-in" class="btn btn-success btn-small" data-ng-click="signin()"><i class="icon-white icon-check"></i>
							Sign-in
							</button>
						</div>
			
				</div>
			</div>
			
		
		
  </ul>
  
		 <ul class="nav pull-right" data-ng-show="global.authenticated">
		 
		 <div class="btn btn-med dropdown" style="float:top; position:relative;">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">
						{{global.user.name}} <b class="caret"></b>
					</a>
					<ul class="dropdown-menu">
						<li><a href="/signout">Signout</a>
						</li>
					</ul>
				
		 </div>
		 </ul>
	</div>
</div>

	
