<div class="Projectdetail view">
    <div class="container" data-ng-controller = "channelController">
        <header>
            <h3>Product pricing</h3>
        </header>
        <div>
            <div class="row">
                <div class="span12" data-ng-repeat="project in projects| orderBy:'duedate'">
                    <div class="indent">
                        
							<!-- Div starting fro charts-->
							<div class="row cardContainer">
								<div class="span3">
										<h4>{{ project.projectName }}</h4>
										<li>
										Unit quantity:         <b>{{project.unitquantity}}</b><br>
										
										</li><li>		Expected revenue:      <b><i>{{project.unitquantity*project.unitprice| currency:"€"}}</br></b>
										
										</li><li>		Forecasted unit price  <b><i>{{project.unitprice| currency:"€"}}</br></b>
										
										</li><li>Current unit price     <b><i>{{0.1*project.unitprice| currency:"€"}}</br></b></li>
								</div>
										<div data-ng-controller="projectRev">	
												<div class="span3">
													<div google-chart chart="chart" style="height:125px; width:100%"/>
												</div>
										<!-- Div ending for charts -->
										</div>
										<div data-ng-controller="projectProfit">	
												<div class="span3">
													<div google-chart chart="chart" style="height:125px; width:100%"/>
												</div>
										<!-- Div ending for charts -->
										</div>
							</div>
					
					</div>
						<div class="row cardContainer">
							<br>
						</div>	
                    <div data-ng-include="'/views/channelPricingDetail.html'" />
                </div>
            </div>
        </div>
    </div>
</div>