
<table class="table table-hover table-striped table-condensed table-bordered" data-ng-controller="projectController" data-ng-init="find()" >

	<thead>	
		<tr>		
			<th data-ng-click="setOrder('name')">Project Name</th>
            <th data-ng-click="setOrder('volume')">Unit volume</th>
            <th data-ng-click="setOrder('price')">Your price</th>
            <th data-ng-click="setOrder('startdate')">Cuanto's 'common' price </th>
            <th data-ng-click="setOrder('enddate')">Difference </th>
            <th data-ng-click="setOrder('totalrevenue')">Gain / Loss in €</th>
            <th data-ng-click="setOrder('adjustactivity')">Tags</th>
        </tr>
    </thead>
    <tbody>
        <tr data-ng-hide="projects.length> 0" class="error">
            <td colspan="8">
                <div class="text-center"><strong>No projects found</strong></div>
            </td>
        </tr>
        <tr data-ng-repeat="project in projects ">
            <td align="center" valign="middle">
                {{ project.projectName }}
            </td>
            <td>
                {{ project.unitquantity }}
            </td>
              <td>
                {{ project.unitprice | currency:"€"}}
            </td>
            <td width='7%' text-align='center'>
                {{ (project.unitprice*0.75) | currency:"€"}}
            </td>
            <td width='7%'>
                {{ (project.unitprice - (project.unitprice*0.75) )/ project.unitprice }}%
            </td>
            <td width='7%'>
               {{((project.unitprice - (project.unitprice*0.75) )/ project.unitprice)*project.unitquantity*project.unitprice | currency:"€"}}
            </td>
             <td>
			 
			 <div data-ng-controller="projectEditController">
					{{ project.tags }}		
					<button title = "Delete project" class="btn close cardClose" data-ng-click="delProject($index)"><i class ="icon-trash icon"></i></button>
					
					<button title = "Edit project" class="btn close cardClose" data-ng-click="editProject($index)"><i class ="icon-pencil icon"></i></button>
			</div>
            </td>

        </tr>
        <tr class="info">
            <td colspan="5">
             <b>Net Gain / Loss
            </td>
            <td>
                <strong><i>{{projectTotal}}<i></strong>
            </td>
            
        
        </tr>
             
    </tbody>
</table>