<div data-ng-controller="projectEditController" >

		<div class="modal-header">
            <h3>Please edit :{{projectEdit.projectName}}</h3>
        </div>
        <div class="modal-body">
			<!-- div for 1st row cards -->
						<div class="row cardContainer">
								<div class="span3">
									Project Name:
									<br />
									<input data-ng-model="projectEdit.projectName" type="text">
								</div>

								<div class="span3">
									Unit Quantity:
									<br />
									<input data-ng-model="projectEdit.unitquantity" type="number" >
								</div>
								
								<div class="span3">
									Unit Price:
									<br />
									<input data-ng-model="projectEdit.unitprice" type="number"> <br/>
									{{newProject.unitprice| currency:"€"}}   
								</div>
						
						<!--div for 2nd row cards -->
						
            
								<div class="span3">
									Tags or Keywords associated with the project (use a comma to separate)
									<br />
									<textarea data-ng-model="projectEdit.tags" type="date"></textarea>
								</div>
		
								
						</div>
					
        </div>
			
	   <div class="modal-footer">
            <button class="btn btn-success" ng-click="ok(projectEdit)"><i class="icon-white icon-check"></i> Update project</button>
            <button class="btn btn-warning" ng-click="cancel()"><i class="icon-white icon-off"></i> Cancel edits</button>
		
        </div>
	
 



</div>