
		
			
		<div data-ng-controller="projectsCRUDController" >
			<!-- Div starting for adding project -->
				
				<button class="btn" ng-click="isCollapsed = !isCollapsed">Add Another Project</button>
				
				<!-- Div for drop-down box -->
				<div class="well-large">
					<!-- Div for collapse -->
					<div collapse="!isCollapsed">
			
						<!-- div for 1st row cards -->
						<div class="row cardContainer">
								<div class="span3">
									Project Name:
									<br />
									<input data-ng-model="newProject.projectName" type="text" placeholder="Project Name">
								</div>

								<div class="span3">
									Unit Quantity:
									<br />
									<input data-ng-model="newProject.unitquantity" type="number" >
								</div>
								
								<div class="span3">
									Unit Price:
									<br />
									<input data-ng-model="newProject.unitprice" type="number" ><br/>
									{{newProject.unitprice| currency:"€"}}   
								</div>
						</div>
						<!--div for 2nd row cards -->
						<div class="row cardContainer">
            
								<div class="span3">
									Start date:
									<br />
									<input data-ng-model="newProject.startdate" type="date">
								</div>
								<div class="span3">
									Due Date:
									<br />
									<input data-ng-model="newProject.duedate" type="date" >
								</div>
								
							
								<div class="span3">
									
								<!-- 	<input data-ng-model="newProject.thumb" type="text" >
								</div> -->
								<div data-ng-controller="imageCtrl" > 
								 <!-- <input type="file" data-ng-model="newProject.thumb">  -->
									<label for="newProject.thumb">Project thumbnail</label>
										
										<input id="newProject.thumb" 
											type="file" 
											accept="image/*" 
											image="newProject.thumb" 
											resize-max-height="300"
											resize-max-width="250"
											resize-quality="0.7" />
										
												<p>Original</p>
										<img ng-show="newProject.thumb" ng-src="{{newProject.thumb.url}}" type="{{newProject.thumb.file.type}}"/>
										
										<button id="submitimage" class="btn btn-primary" type="button" 
										
										data-ng-click="addImage()">Add Image</button>
			
										<!-- <p>Resized</p>
										<img ng-show="image2" ng-src="{{image2.resized.dataURL}}"/>
										 -->
									</div>
									
									
									<button id="submitproject" class="btn btn-primary" type="button" 
										data-ng-disabled="!newProject.projectName || !newProject.unitquantity || !newProject.unitprice" 
										data-ng-click="createProject()">Add project</button>
			
								</div>
						</div>
					</div>
				</div>
		</div>
			
						