
<div class="quotemodal" data-ng-controller ="quotemodalController">
	<div class="quotemodal-header" >
            Please enter some keywords and materials 
			<i><h5>
			You can also add a short description of the product
			</h5>
			</i>
    </div>
		
    <div class="signupmodal-body">
						<div class="row cardContainer">  
								<div class="span3">
									Name of project:
									<br />
									<input data-ng-model="newQuote.quoteName" type="text">
								</div>
								<div class="span3">
									Description
									<br />
									<input data-ng-model="newQuote.unitquantity" type="text" >
								</div>
						</div>
 						<div class="row cardContainer">  
								
						<!-- </div> -->

								<div class="span3">
									Materials to use on the project
									<br />
									<textarea data-ng-model="newQuote.matstring" type="text" class="stringTextbox"/>
								</div>
						
								<div class="span3">
									Keywords associated with project
									<br />
									<textarea data-ng-model="newQuote.tagstring" type="text" class="stringTextbox"/> 
								</div>
						</div>
						<div class="row cardContainer">  
								<div class="span2">
									Where will it be sold?
									<br />
									<input data-ng-model="newQuote.region" type="text">
								</div>
						</div>
 						
	</div>
				
			
	<div class="modal-footer">
			
			<div class="btn-toobar btn-group-justified">
			<div class="btn-group">	
			<!-- <div data-ng-controller ="quoteController"> -->
				<button class="btn btn-info btn-lg" data-ng-click="createQuote(newQuote)"> <i class="icon-white icon-off"></i>Request a free pricing quote</button>
			<!-- </div> -->
			</div>
			</div>	
				<br>
		
			<div class="btn-toobar btn-group-justified">
				
				<div class="btn-group">		
				<button class="btn btn-warning btn-sm" ng-click="cancel()"><i class="icon-white icon-off"></i>Cancel</button>
				</div>
			</div>
			</div>
	</div> 
		
</div>